.favor {
  color: white;
  background-color: green;
}

.mod {
  color: white;
  background-color: yellow;
}

.severe {
  color: white;
  background-color: red;
}

.container {
  text-align: center;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.btn {
  margin-right: 15px;
}
